
{% extends 'dashboard.html' %}

{% block content %}
<body style=" background-color:aqua">
<br>

<center>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
<h1 style="color:purple">EMPLOYEE PORTAL</h1><br><br>
<form method="POST">
    {% csrf_token %}
    
    <input type="submit" name="profile" value=" MY PROFILE">
    <input type="submit" name="view" value="MY LEAVES">
    <input type="submit" name="logout" value="LOGOUT">

        </form>

    </center>
    </body>
{% endblock %}