
 {% extends 'dashboard.html' %}
<br>
 {% block content %} 
 <body style="background-color:aqua">
<center>
 {% load static %}
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
<h1 style="color:green">MANAGER PORTAL</h1><br>
 {% for message in messages %}
 <div class="container-fluid p-0">
   <div class="alert {{ message.tags }} alert-dismissible" role="alert" >
     <button type="button" class="close" data-dismiss="alert" aria-label="Close">
       <span aria-hidden="true">×</span>
     </button>
     {{ message }}
     {% endfor %}
   </div>
 </div>
 
 
 
 
 <form method="POST" >
 {% csrf_token %}
 <input type="submit" name="addemployee" value="Add Employee">
 <input type="submit" name="profile" value="PROFILE">
 <input type="submit" name="employeedata" value="Employee Data">
 <input type="submit" name="logout" value="Logout"><br><br>
<br><br>
<input name="searches" type="search" placeholder="Search Employee"> 
<input name="search" type="submit">
 
 {% for i in a %}
 {% if query == i.user.username %}
 Employee :{{i.user.first_name}} {{i.user.last_name}}<br>
 Role : {{i.role}}<br><br>
 {% elif query == i.user.username %}
 usernot found

 <h1>Not found</h1>
 {% endif %}
 {% endfor %}

 </form> 
 <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  
</center>
</body>
 {% endblock %} 