
<h1 style="text-align:center">PROFILE</h1>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
<center>
{% if a.user_type == 'Admin' %}

<<center>
    <center>
        <table>
                <tr>
                    <th>Firstname</th>
                    <td>:</td>
                    <td>{{a.user.first_name}}</td>
                </tr>
                <tr> 
                    <th>Lastname</th>
                    <td>:</td>
                    <td>{{a.user.last_name}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>:</td>
                    <td>{{a.user.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>:</td>
                    <td>{{a.user.email}}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>:</td>
                    <td>Admin</td>
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td>:</td>
                    <td>{{a.user.mobile_number}}</td>
                </tr>
                <tr>
                    <th>Employee ID</th>
                    <td>:</td>         
                    <td>{{a.emp_id}}</td>
                </tr>
           
                
               
         
               
            </table>

<a href = {% url 'hredit' %}>edit</a>


{% elif a.user_type == 'Manager' %}
<center>
    <center>
        <table>
                <tr>
                    <th>Firstname</th>
                    <td>:</td>
                    <td>{{a.user.first_name}}</td>
                </tr>
                <tr> 
                    <th>Lastname</th>
                    <td>:</td>
                    <td>{{a.user.last_name}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>:</td>
                    <td>{{a.user.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>:</td>
                    <td>{{a.user.email}}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>:</td>
                    <td>{{a.profile}}</td>
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td>:</td>
                    <td>{{a.user.mobile_number}}</td>
                </tr>
                <tr>
                    <th>Employee ID</th>
                    <td>:</td>         
                    <td>{{a.emp_id}}</td>
                </tr>
            </table>
    <a href = {% url 'hredit' %}>edit</a>


    {% elif a.user_type == 'Hr' %}
    <center>
        <table>
                <tr>
                    <th>Firstname</th>
                    <td>:</td>
                    <td>{{a.user.first_name}}</td>
                </tr>
                <tr> 
                    <th>Lastname</th>
                    <td>:</td>
                    <td>{{a.user.last_name}}</td>
                </tr>
                <tr>
                    <th>Username</th>
                    <td>:</td>
                    <td>{{a.user.username}}</td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td>:</td>
                    <td>{{a.user.email}}</td>
                </tr>
                <tr>
                    <th>Department</th>
                    <td>:</td>
                    <td>{{a.dept}}</td>
                </tr>
                <tr>
                    <th>Mobile Number</th>
                    <td>:</td>
                    <td>{{a.user.mobile_number}}</td>
                </tr>
                <tr>
                    <th>Employee ID</th>
                    <td>:</td>         
                    <td>{{a.emp_id}}</td>
                </tr>
           
                
               
         
               
            </table>
        
        <a href = {% url 'hredit' %}>edit</a>

    </center>
{% elif a.user_type == 'Employee' %}
<center>
<table>
        <tr>
            <th>Name</th>
            <td>:</td>
            <td>{{a.user.first_name}} {{a.user.last_name}}</td>
        </tr>
        <tr>
            <th>Username</th>
            <td>:</td>
            <td>{{a.user.username}}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>:</td>
            <td>{{a.user.email}}</td>
        </tr>
        <tr>
            <th>Date Of Birth</th>
            <td>:</td>
            <td>{{a.dob}}</td>
        </tr>
        <tr>
            <th>Gender</th>
            <td>:</td>
            <td>{{a.gender}}</td>
        </tr>
        <tr>
            <th>Department</th>
            <td>:</td>
            <td>{{a.department}}</td>
        </tr>
        <tr>
            <th>Mobile Number</th>
            <td>:</td>
            <td>{{a.user.mobile_number}}</td>
        </tr>
        <tr>
            <th>Employee ID</th>
            <td>:</td>         
            <td>{{a.emp_id}}</td>
        </tr>
        <tr>
            <th>Salary</th>
            <td>:</td>
     
            <td>{{a.salary}}</td>
        </tr>
        <tr>
            <th>Location</th>
            <td>:</td>
            <td>{{a.address}}</td>
        </tr>
        <tr>
            <th>Role</th>
            <td>:</td>
            <td>{{a.role}}</td>
        </tr>

        <tr>
            <th>Language</th>
            <td>:</td>
            <td>{{a.language}}</td>
        </tr>
        <tr>
            <th>Bank Name</th>
            <td>:</td>
            <td>{{a.bank_name}}</td>
        </tr>
        <tr>
            <th>Account Number</th>
            <td>:</td>
            <td>{{a.account_no}}</td>
        </tr>
        <tr>
            <th>Ifsc Code</th>
            <td>:</td>
            <td>{{a.ifsc_code}}</td>
        </tr>
        <tr>
            <th>Date Of joined</th>
            <td>:</td>
            <td>{{a.joined_date}}</td>
        </tr>
      
        
       
 
       
    </table>
    <a href = {% url 'profileedit' %}>Edit</a></h3>      
</center>
        





</h4>

{% endif %}

