<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 

<div class="card">
    <center>
        <h3>MY LEAVES</h3>
    </center>
    <table class="table table-hover">
        <thead>
            <th>Requested Employee</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Leave Type</th>
            <th>Reason</th>
            <th>Action</th>
        </thead>
        <tbody>
            {% for i in leaves %}
    
            <tr>
                <td>{{i.user}}</td>
                <td>{{i.from_date}}</td>
                <td>{{i.to_date}}</td>
                <td>{{i.leave_type}}</td>
              <td>{{i.reason}}<td>
                {% if i.is_approved == True %}
                <span style="color:green">APPROVED</span><br>
                {% elif i.is_rejected == True %}
                <span style="color:red">REJECTED</span><br>

                {% else %}
                <span style="color:blue">PENDING</span><br>
            </tr>
            {% endif %}
            {% endfor %}
        </tbody>
        </table>
    </div>
    <br><br>
 {% if leaves.count == 0 %}
 <h3>You Haven't requested Yet </h3>
 {% endif %}

<form method="POST">
    {% csrf_token %}
<input type="submit" name="leave_request" value="ASK LEAVE"></form>